*{
    font-family: "kanit", sans-serif;
}

@import "datos";

#container__cards--tienda{
    i{
    color: $color7;
    font-size: $size5*6;
    margin-bottom: $size2;
    text-shadow: $shadow-all;
    }
}

h3 {
    color: $color1;
    text-align: center;
    margin: 0 0 5% 0;
    padding: 0.5rem;
}

.card-box {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 30%;
}

.card-box:hover .card {
    transform: rotateY(180deg);
}

.card {
    cursor: default;
    height: 20rem;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    border: none;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}

.front{
    background-image: url(../images/elegante-fondo-blanco-textura_23-2148431731.jpg);
    background-size: cover;
    border-left: $border-left;
    border-right: $border-right;
    padding: 5% 5% 5% 5%;
}

.back{
    padding: 25% 5% 5% 5%;
}

.card p {
    margin-bottom: 1.8em;
    color: $color5;
    position: relative;
    padding: 0.5rem auto;
}

.card .front,
.card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    box-shadow: $shadow-all-power;
    border-radius: 3rem;
}

.card .front strong {
    background: #fff;
    border-radius: 100%;
    border-left: $border-left;
    border-right: $border-right;
    color: $color1;
    font-size: $size4;
    line-height: 30px;
    padding: 0 7px 4px 6px;
}

.card .back {
    transform: rotateY(180deg);
}

.card .back {
    background-image: url(../images/elegante-fondo-blanco-textura_23-2148431731.jpg);
    background-size: cover;
}

.card-box:nth-child(1) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
}

.card-box:nth-child(2) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
}

.card-box:nth-child(3) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@media screen and (max-width: 767px) {
    .card-box {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }

    .card {
        height: 285px;
    }

    .cardBox:last-child {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 480px) {
    .card-box {
        width: 94.5%;
    }

    .card {
        height: 260px;
    }


    #container__cards--tienda{
        i{
        font-size: $size5*3;
        margin-bottom: $size1;
        }

        p{
            font-size: $size1;
        }
    }
}