* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
}

@import "datos";
@import "btn-lonely";
@import "cards-index";

.button #whatsapp {
    position: fixed;
    bottom: 60px;
    right: 30px;
    background: transparent;
    z-index: 100;
}


.h5__cards{
    color: $color1;
    font-size: $size1*2;
}

body {
    background-image: url(../images/bbb-whopa.jpg);
    background-position: center;
    background-size: auto;
    font-family: "kanit", sans-serif;
}

/*------------------INDEX RESPONSIVE-----------------*/

#section1-index{
    margin-bottom: 5rem;
}

@media only screen and (min-width: 360px) {

    #section1-index{
        margin-bottom: 8%;
    }

    #index__bigscreen{
        display: none;
    }

    #index__mobile{
        display: flex;
        padding: 0%;
        margin: 0%;
        background-size: $var1;
    }

    .carousel__texto{
    background-color: $color3;
    color: $color2;
    align-items: center;
    height: 70px;
    }

    .h4__carousel--mod{
    font-size: $size3;
    color: $color6;
    }

    .p__carrousel{
    text-align: center;
    font-size: $size1;
    }

    .img-gale{
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {

    #index__bigscreen{
        display: none;
    }

    #index__mobile{
        display: flex;
        padding: 0%;
        margin: 0%;
        background-size: $var1;
    }

    .carousel__texto{
    background-color: $color3;
    color: $color2;
    align-items: center;
    height: 70px;
    }

    .h4__carousel--mod{
    font-size: $size3;
    color: $color6;
    }

    .p__carrousel{
    text-align: center;
    font-size: $size1;
    }
}

@media only screen and (min-width: 768px){
    #index__bigscreen{
        display: flex;
    }

    #index__mobile{
        display: none;
    }
}

/*------------------HEADER-------------------*/
/*------------------HEADER-------------------*/
/*------------------HEADER-------------------*/
.navbar{
    box-shadow: $box-shadow-bottom;
}

.dropdown-menu{
    background-image: url(../images/bbb-whopasmall.jpg);
    background-size: cover;
}

main {
    margin-top: 140px;
}

/*-------GALERÍA INDEX CON BOOTSTRAP--------*/
/*-------GALERÍA INDEX CON BOOTSTRAP--------*/
/*-------GALERÍA INDEX CON BOOTSTRAP--------*/

#section2-index{

    .col-lg-4{
    padding: 0.9%;
    }

    img{
        border: ($size5 - $size1) solid $color7;
    }

    img:hover {
    border: $size5 - $size1 solid $color2;
    border-radius: $size1/2;
    box-shadow: $box-shadow-box;
    }
}

.gale-index{
    justify-content: center;
    margin-bottom: 5rem;
}

#section3-index{
    margin-bottom: 5rem;
}

/*----Botón Contacto Index con Flexbox y Bootstrap----*/
/*----Botón Contacto Index con Flexbox y Bootstrap----*/
/*----Botón Contacto Index con Flexbox y Bootstrap----*/

#indexContact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*------Footer Responsive con Grids y Media Queries--------*/
/*------Footer Responsive con Grids y Media Queries--------*/
/*------Footer Responsive con Grids y Media Queries--------*/

@media only screen and (min-width: 360px) {

    h3{
        font-size: 0.95em;
        color: $color5;
    }

    .container__footer {
        grid-template-columns: 1fr;
    }

    .logo__footer{
        margin: 8% 0% 0% 0%;
    }

}

@media only screen and (min-width: 480px) {

    h3{
        font-size: 1.5em;
        color: $color5;
    }

    .container__footer {
        grid-template-columns: 1fr;
    }

    .logo__footer{
        margin: 8% 0% 0% 0%;
    }
    
}

@media only screen and (min-width: 600px) {

    h3{
        font-size: 1.5em;
        color: $color5;
    }

    .container__footer {
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 768px) {

    h3{
        font-size: 1.5em;
        color: $color5;
    }

    .container__footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 1024px) {

    h3{
        font-size: 1.8em;
        color: $color5;
    }

    .container__footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
    }

}

@media only screen and (min-width: 1200px) {

    h3{
        font-size: 1.8em;
        color: $color5;
    }

    .container__footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
    }
}

/*----------------TIENDA----------------*/
/*----------------TIENDA----------------*/
/*----------------TIENDA----------------*/

.redireccionamiento__h1{
    font-size: $size5*1.5;
    color: $color1;
    }

.redireccionamiento__h2{
    color: $color4;
    font-size: $size2 + $size1;
}

.redireccionamiento__h3{
    font-size: $size4;
    color: $color2;
    background-color: $color1;
    width: auto;
    margin: auto;
}

div.redireccionamiento {
    margin: 25px;
    padding: 25px;
    text-align: center;
}

/*---------Tienda Cards y Acordeon Bootstrap---------*/

.card {
    font-family: "kanit";
    font-weight: normal;
    font-style: italic;
    font-size: 70%;
    text-align: justify;
    color: $color4;
    padding: 20px 20px;
    box-shadow: $box-shadow-box;
}

.card--tienda { @extend .card;
    background-color: $color6;
    box-shadow: $box-shadow-none;
    border-left: $border-left;
    border-right: $border-right;
}

.accordion-button{
    color: $color4;
    font-size: $var2;
    background-color: $color6;
    text-decoration: none;
}

.accordion-body{
    color: $color4;
    font-size: $var1 - 20%;
}

.accordion-item{
    background-color: $color6;
}

.accordion-button:not(.collapsed) {
    color: $color5;
    background-color: $color2;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:focus {
    z-index: 3;
    border-color: $color4;
    outline: 0;
    box-shadow: $shadow-all-border;
}

.accordion-button:not(.collapsed)::after {
    color: $color5;
    transform: rotate(-180deg);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(36,0214,0)'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

/*------------FOOTER CON GRIDS------------*/
/*------------FOOTER CON GRIDS------------*/
/*------------FOOTER CON GRIDS------------*/

.container__footer {
    display: grid;
    align-content: space-around;
    align-items: center;
    text-align: center;
    background-image: url(../images/bbb.jpg);
    background-image: cover;
    background-position: center;
    box-shadow: $box-shadow-top;
    padding: 1%;
}

ul.menu__footer{
    padding: 0%;
}
.menu__footer {
    list-style: none;
    font-size: 12px solid;
    color: $color2;
}

#menu__inf a {
    font-family: "kanit";
    font-size: 10px solid;
    color: $color2;
    text-decoration: none;
}

#menu__inf .focusHover a:hover {
    color: $color1;
}

/*-------------- PÁGINAS LEGALES------------*/
/*-------------- PÁGINAS LEGALES------------*/
/*-------------- PÁGINAS LEGALES------------*/

.main__legales{
    margin: 7rem 3rem 5rem 3rem;
}

.legales {
    font-family: "kanit";
    text-align: justify;
}

.legales__h3 {
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    color: $color5;
}

.legales__h3--color{
    color: $color1;
}

.legales__h3--text{
    text-transform: uppercase;
    text-align: center;
}

.legales__p {
    font-size: $size1;
    color: $color3;
}

.main__legales--marg{
    margin: 10rem 3rem 5rem 3rem;
}

.carousel-nosotros {
    width: $var1;
    height: 40vh;
}

.video-nosotros{
    border: ($size5 - $size1) solid $color7;
}

/*--------------------------PÁGINA DE PRODUCTOS-----------------------*/

/*--------------Productos: Galería con GRID: Info general-------------*/
/*--------------Productos: Galería con GRID: Info general-------------*/
/*--------------Productos: Galería con GRID: Info general-------------*/

#gallery {
    background-image: url(../images/bbb.jpg);
    background-size: 100vh;
    justify-content: center;
}

#gallery h3 {
    font-family: "kanit";
    font-weight: normal;
    font-size: 1.5rem;
    color: $color2;
    text-align: center;
    justify-content: center;
}

.gridItem {
    min-height: 240px;
    min-width: 220px;
    background-color: aqua;
    border: 0.15rem solid $color2;
    border-radius: 0.2rem;
}

.gridItem:hover {
    transform: scale(1.04);
    transition: 0.5s;
    filter: none;
    box-shadow: 5px 5px 5px 1px rgba(43, 42, 42, 0.774);
}

.gridContainer {
    width: 95%;
    margin: auto;
    height: auto;
    padding: 2%;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

/*----------Galería con GRID: Items con imágenes----------*/
/*----------Galería con GRID: Items con imágenes----------*/
/*----------Galería con GRID: Items con imágenes----------*/

.item1 {
    grid-area: "item1";
    background-color: coral;
    background-image: url(../images/wega-todo.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item2 {
    grid-area: "item2";
    background-color: aquamarine;
    background-image: url(../images/lampara1.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item3 {
    grid-area: "item3";
    background-color: blue;
    background-image: url(../images/lampara2.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item4 {
    grid-area: "item4";
    background-color: cadetblue;
    background-image: url(../images/bujias-vertical.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item5 {
    grid-area: "item5";
    background-color: crimson;
    background-image: url(../images/cross-hf-square.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item6 {
    grid-area: "item6";
    background-color: indianred;
    background-image: url(../images/lampara5.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item7 {
    grid-area: "item7";
    background-color: khaki;
    background-image: url(../images/lampara4.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item8 {
    grid-area: "item8";
    background-color: lightskyblue;
    background-image: url(../images/publi-mamamotos.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item9 {
    grid-area: "item9";
    background-color: palevioletred;
    background-image: url(../images/endurof923.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item10 {
    grid-area: "item10";
    background-color: peru;
    background-image: url(../images/nayasa-ey198.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item11 {
    grid-area: "item11";
    background-color: sienna;
    background-image: url(../images/crossf897.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item12 {
    grid-area: "item12";
    background-color: teal;
    background-image: url(../images/jfo-0026.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item13 {
    grid-area: "item13";
    background-color: yellowgreen;
    background-image: url(../images/urbf931.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item14 {
    grid-area: "item14";
    background-color: yellow;
    background-image: url(../images/endurof921.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item15 {
    grid-area: "item15";
    background-color: yellowgreen;
    background-image: url(../images/cub-kenda.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item16 {
    grid-area: "item16";
    background-color: turquoise;
    background-image: url(../images/filtro-aceite-pordentro.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item17 {
    grid-area: "item17";
    background-color: rgb(255, 255, 255);
    background-image: url(../images/filtros-portada.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item18 {
    grid-area: "item18";
    background-color: rgb(197, 4, 4);
    background-image: url(../images/manubrios-alum-8010.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item19 {
    grid-area: "item19";
    background-color: rosybrown;
    background-image: url(../images/trave-mda.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item20 {
    grid-area: "item20";
    background-color: royalblue;
    background-image: url(../images/filtros-combustible.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item21 {
    grid-area: "item21";
    background-color: salmon;
    background-image: url(../images/punofluo.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item22 {
    grid-area: "item22";
    background-color: seagreen;
    background-image: url(../images/nayasa-1.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item23 {
    grid-area: "item23";
    background-color: slateblue;
    background-image: url(../images/nayasa-2.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item24 {
    grid-area: "item24";
    background-color: wheat;
    background-image: url(../images/nayasa-3.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item25 {
    grid-area: "item25";
    background-color: rgb(228, 0, 0);
    background-image: url(../images/jfa-m29.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item26 {
    grid-area: "item26";
    background-color: thistle;
    background-image: url(../images/punosverdefluo.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item27 {
    grid-area: "item27";
    background-color: turquoise;
    background-image: url(../images/jfa-m26.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item28 {
    grid-area: "item28";
    background-color: violet;
    background-image: url(../images/jfo0015-honda.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item29 {
    grid-area: "item29";
    background-color: rgb(247, 253, 167);
    background-image: url(../images/jfa0238-yamaha.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

.item30 {
    grid-area: "item30";
    background-color: teal;
    background-image: url(../images/jfo0y00-yamaha.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

/*-------MOBILE FIRST GALERÍA en 360px 480px 600px 768px 1024px 1200px-------*/
/*-------MOBILE FIRST GALERÍA en 360px 480px 600px 768px 1024px 1200px-------*/
/*-------MOBILE FIRST GALERÍA en 360px 480px 600px 768px 1024px 1200px-------*/

@media only screen and (min-width: 360px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }

    #gallery{
        margin: 45% 2% 5% 2%;
    }
}

@media only screen and (min-width: 480px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr;
    }

    .gridItem {
        min-height: 150px;
        min-width: 150px;
    }
    
    #gallery{
        margin: 35% 2% 6% 2%;
    }
}

@media only screen and (min-width: 600px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gridItem {
        min-width: 150px;
    }

    .item1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item4 {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item8 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item9 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item13 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .item15 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 10;
    }

    .item19 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .item21 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .item23 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 14;
    }

    .item27 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 14;
        grid-row-end: 15;
    }

    .item28 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 15;
        grid-row-end: 17;
    }
        
    #gallery{
        margin: 28% 2% 5% 2%;
    }
}

@media only screen and (min-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gridItem {
        min-height: 200px;
    }

    .item1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item4 {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 4;
        background-position: center;
    }

    .item8 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item9 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item13 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 10;
    }

    .item15 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .item19 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 14;
    }

    .item21 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .item23 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 12;
    }

    .item27 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 14;
        grid-row-end: 15;
    }

    .item28 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 15;
        grid-row-end: 17;
    }
        
    #gallery{
        margin: 22% 2% 4% 2%;
    }
}

@media only screen and (min-width: 1024px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .gridItem {
        min-height: 220px;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .item3 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .item8 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .item9 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
    }

    .item13 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .item15 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .item18 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 9;
    }

    .item19 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .item21 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .item22 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .item23 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 11;
    }

    .item24 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 11;
    }

    .item25 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .item26 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .item27 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 11;
        grid-row-end: 12;
    }

    .item28 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;
    }

    .item29 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 13;
    }

    .item30 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 12;
        grid-row-end: 13;
    }
            
    #gallery{
        margin: 16% 2% 3% 2%;
    }
}

@media only screen and (min-width: 1200px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .gridItem {
        min-height: 260px;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item3 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .item4 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .item6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .item7 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .item8 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .item9 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .item10 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .item11 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .item12 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    .item13 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .item14 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .item15 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .item16 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .item17 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .item18 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .item19 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .item20 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 9;
    }

    .item21 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 8;
        grid-row-end: 10;
    }

    .item22 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .item23 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .item24 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .item25 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .item26 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 11;
    }

    .item27 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 9;
        grid-row-end: 10;
    }

    .item28 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .item29 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 11;
    }

    .item30 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 10;
        grid-row-end: 11;
    }
                
    #gallery{
        margin: 14% 2% 3% 2%;
    }
}

/*--------Termina la Galería con GRIDS--------*/
/*--------Termina la Galería con GRIDS--------*/
/*--------Termina la Galería con GRIDS--------*/

/*------------------PÁGINA DE CONTACTO----------------*/
/*------------------PÁGINA DE CONTACTO----------------*/
/*------------------PÁGINA DE CONTACTO----------------*/

/*-------Main Contacto con Bootstrap--------*/

.contact__h5{
    font-size: $size5 + $size1/2;
    text-shadow: $shadow-all;
}

#main__contact{
    margin-top: 8.5rem;
}

.contact__h1--color{
    color: $color2;
    text-shadow: $shadow-all;
}

.form__contact{
    color: $color2;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 5px;
}

fieldset{
    border: 2px solid $color2;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.grid__contact{
    display: grid;
}

#contact__page{
    place-items: center;
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .grid__contact{
        grid-template-columns: 1fr;
    }

    .contact__h1 {
        font-size: $size5 + $size4;
    }

    #contact__page{
        background-image: none;
    }

    .logo__contact {
        width: ($var1) - ($var2/2);
    }

    #contact__us{
    background-image: url(../images/background-contactus2.jpg);
    background-size: cover;
    margin-bottom: 1rem;
    align-items: center;
    background-position-x: center;
    text-align: center;
    color: $color2;
    }

    h5{
        font-size: $size5;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .grid__contact{
        grid-template-columns: 1fr;
    }

    .contact__h1 {
        font-size: $size5 + $size4;
    }

    #contact__page{
        background-image: none;
    }

    .logo__contact {
        width: ($var1) - ($var2/2);
    }

    #contact__us{
    background-image: url(../images/background-contactus2.jpg);
    background-size: cover;
    margin-bottom: 1rem;
    align-items: center;
    background-position-x: center;
    text-align: center;
    color: $color2;
    }
}

@media only screen and (min-width: 600px) {
    .grid__contact{
        grid-template-columns: 1fr;
    }

    .contact__h1 {
        font-size: $size5 + $size4;
    }

    #contact__page{
        background-image: none;
    }

    .logo__contact {
        width: ($var1) - ($var2/2);
    }

    #contact__us{
    background-image: url(../images/background-contactus2.jpg);
    background-size: cover;
    margin-bottom: 1rem;
    align-items: center;
    background-position-x: center;
    text-align: center;
    color: $color2;
    }
}

@media only screen and (min-width: 768px){

    .grid__contact{
        grid-template-columns: 1fr 1fr;
    }

    .contact__h1 {
        font-size: $size1 *4;
    }

    #contact__page{
        background-image: url(../images/background-contactus2.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .logo__contact {
        width: ($var1) - 10;
        margin-bottom: 1rem;
    }

    #contact__us{
    background-image: none;
    margin: auto;
    padding-inline: 1rem;
    }

    .grid__contact--item2{
        margin: 1rem;

    }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

        .grid__contact{
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        }

        .grid__contact--item1{
            grid-column-start: 1;
            grid-column-end: 2;
        }
    
        .grid__contact--item2{
            grid-column-start: 2;
            grid-column-end: 3;
        }

        #contact__page{
            background-image: url(../images/background-contactus2.jpg);
            height: 840px;
            background-repeat: no-repeat;
            background-position-x: center;
        }
        
        .p__cont{
            margin-top: 3rem;
        }

        #contact__us {
            background-image: none;
            margin: auto;
            padding: auto;
            justify-content: center;
            align-items: center;
        }
        
        .contact__h1 {
            font-size: $size1 *4.5;
        }
        
        .logo__contact {
            width: $var1;
        }
    }

@media only screen and (min-width: 1200px) {

    .grid__contact{
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }

    .grid__contact--item1{
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid__contact--item2{
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: auto;
        margin-bottom: auto;
    }

    #contact__page{
        background-image: url(../images/background-contactus2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
    }
    
    #contact__us {
        background-image: none;
    }
    
    .contact__h1 {
        font-size: $size1 *6;
    }
    
    .logo__contact {
        width: $var1;
    }
    
}

/*---------Mapa de Google----------*/
/*---------Mapa de Google----------*/
/*---------Mapa de Google----------*/


.p__cont {
    text-align: center;
    font-size: $size5 + $size1;
    color: rgba(0, 0, 0, 0.637);
}

#mapa {
    border-top: double 10px rgba(0, 0, 0, 0.637);
    border-right: none;
    border-bottom: double 10px rgba(0, 0, 0, 0.637);
    border-left: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

@import "error";
